<!-- the body settings{  }
BODY { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; 
} 

pre { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; } 

table.box {
    background-color: #F0F0F0;
}

.Mainfont {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; 
font-style: normal; 
line-height: normal; 
text-decoration: none; }

.barfont {  font-family: Verdana, Arial, "MS Sans Serif"; 
font-size: 7pt; 
font-style: normal; 
line-height: normal; 
text-decoration: none; }


.smallfont {  font-family: Verdana, Arial, "MS Sans Serif"; 
font-size: 9pt; 
font-style: normal; 
line-height: normal; 
font-weight: normal; 
text-decoration: none; }

.title1 { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 16pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; 
color: #006666; } 

.title2 { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; 
color: #006666; } 

.head0 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.headsmall {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 7pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }


.head0n {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal; 
line-height: normal; 
font-weight: normal; 
text-decoration: none; }

.headgreen {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13pt; 
font-style: normal; 
color: #006666;
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.head1 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13pt; 
color:#006666;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.head1w {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #FFFFFF;
text-decoration: none; }

.head2 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 18pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold;
text-decoration: none }

a:link { color: #003366 }
a:visited { color: #990000 }
a:active { color: #008080 } 

h1 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none }

h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

td {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; 
font-style: normal; 
line-height: normal; 
text-decoration: none; }

.rowitem {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal; 
line-height: normal; 
text-decoration: none; 
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	text-align: left;
	text-decoration: none;
}

th a:link { color: #8080ff }
th a:visited { color: #ff8080 }
th a:active { color: #ff8080 } 

span.rowitem a:active { text-decoration: none } 
span.rowitem a:link { text-decoration: none }
span.rowitem a:visited { text-decoration: none }

kbd { font-weight: bold }

.step1 {  font-family:  Verdana, Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-style: normal; 
font-weight: bold; 
color: #FFFFFF; 
text-decoration: none}

.step2 {  font-family:  Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;  
color: #000000 }

.step3 {  font-family:  Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;  
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #ffffff }

.btn { font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt; 
font-weight: bold;
color: #000000;
background-image: url('images/bgr_form_buttons.jpg');
}

/*
 * The globalnav is for buttons that exist on all pages.
 * They are shown on the left
 */
#globalnav {
     width: 130px;
     margin: 0px;
}

#globalnav h2 {
	color: black;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	line-height: normal; 
	padding-top:10px;
	margin-bottom: 0px;
	font-weight: bold;
	text-align: center; 
	text-decoration: none;
}

#globalnav ul {
	list-style-image: url('none'); /* bug in IE */
	padding-left: 5px;
	list-style-type:none; margin-left:10px; margin-right:0px; margin-top:0px; margin-bottom:0px
}

#globalnav li {
	font-size:.75em;
	font-family: sans-serif;
	font-weight: bold;
	width:112px;
	height:13px;
	line-height: 100%;
	vertical-align: bottom;
	color:#ffffff;
	border: none;
	margin: 0px;
	white-space: nowrap;
}
#globalnav li a {
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:#ffffff;
	width:92px;
	height:13px;
	padding: 0px 6px 0px 20px;
	background: url('images/inactive.gif') no-repeat left top;
	border: none;
	margin: 0px;
}

#globalnav li span {
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:#ffffff;
	width:92px;
	height:13px;
	padding: 0px 6px 0px 20px;
	background: url('images/inactive.gif') no-repeat left top;
	border: none;
	margin: 0px;
}

#globalnav li a:hover {
	background: url('images/selected.gif') no-repeat left top;
}

#globalnav form {
   text-align: center;
}

.sitetitle {
	color: #006666;
	font-size: 14pt;
	font-weight: bold;
}

.sitetagline {
	color: #006666;
	font-size: 10pt;
	font-weight: bold;
}

.breadcrumbtrail {
	display: none;
}

#workarea {
	margin-left:13px;
}

#pagefoot {
	width: 600px;
	padding: 1em 1em 1em 1em;
        font-size: 0.8em;
	text-align: center;
}

tr.even td {
  background-color: #cbdcdc;
}

